<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            max-width: 600px;
        }
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>뚝 쇼핑몰</title>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h1><b>뚝 쇼핑몰</b></h1>
        <h2>주문 등록</h2>
    </div>

    <form th:action method="post">
        <div class="row">
            <div th:text="${customer.id}" class="col"><b>회원ID</b></div>
            <div th:text="${customer.name}" class="col"><b>회원 이름</b></div>
            <hr class="my-4"/>
        </div>
        <div>
            <div>상품</div>
            <select class="form-select" name="productId">
                <option value="">== 주문 상품 ==</option>
                <option th:each="product : ${productList}" th:value="${order.id}"  th:text="${product.name}"></option>
            </select>
        </div>
        <div>
            <label for="count">수량</label>
            <input type="text" id="count" name="count" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4"/>

        <button class="w-100 btn btn-dark" type="submit">주문하기</button>



    </form>
</div>
</body>
</html>